[submodule "projects/gceproject-dns.palladius.eu"]
	path = projects/gceproject-dns.palladius.eu
	url = git@github.com:palladius/gceproject-dns.palladius.eu.git
[submodule "projects/gceproject-wiki.palladius.eu"]
	path = projects/gceproject-wiki.palladius.eu
	url = git@github.com:palladius/gceproject-wiki.palladius.eu.git
